<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *
    {
        background-color:;
    }
    h1
    {
        color: crimson;
    }
    h1:hover
    {
        color:green;

    }
    h2
    {
        color:aqua;

    }
    h2:hover
    {
        color:blueviolet;
    }
    
</style>
<body>
    <center>
        <h1>Loops Statements</h1>
        {% for i in name %}
            <h2>{{i}}</h2>
        {% endfor %}
    </center>
</body>
</html>